[D-BUS Service]
# Start the org.fedoraproject.Anaconda.Addons.PackageRemove service.
# Runs org_fedoraproject_package_remove/service/__main__.py
Name=org.fedoraproject.Anaconda.Addons.PackageRemove
Exec=/usr/libexec/anaconda/start-module org_fedoraproject_package_remove.service
User=root
